h1{
	font-size: 20px;
	color: blue;
}

p{
	font-size: 12px;
}

ul {
	list-style: none;
}

#btn-1{
	height: 50px;
	widows: 50px;
.btn {
    width: 100px;
    height: auto;
}

.input {
    width: 50vw;
    height: 2em;
    margin-bottom: 5px;
}